* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .fiel {
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #1b1b1b;
    height: 100vh;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    position: relative;
}

.fiel {
    position: absolute;
    border: 1px solid #fff;
    height: 150px;
    width: 150px;
    color: transparent;
    font-size: 30px;
    transition: top 0.2s linear, left 0.2s linear;
    background: url(img/ff8ad703a347491553fce1b4862ecc2d.jpg);
}
.fiel:last-of-type {
    background: none;
    border: none;
}